services:

    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    eXpansion\Bundle\Acme\Plugins\:
        resource: '../../Plugins/*'

    eXpansion\Bundle\Acme\Plugins\TotoPlugin:
        arguments:
            $players: '@expansion.framework.core.user_groups.players'
        tags:
            - {name: 'expansion.plugin', data_provider: 'exp.application'}
            - {name: 'expansion.plugin', data_provider: 'mp.legacy.player'}

    eXpansion\Bundle\Acme\Plugins\SmTest:
        class:  eXpansion\Bundle\Acme\Plugins\SmTest
        tags:
            - {name: 'expansion.plugin', data_provider: 'sm.player'}
            - {name: 'expansion.plugin', data_provider: 'sm.player.shoot'}

    eXpansion\Bundle\Acme\Plugins\Gui\WindowFactory:
            arguments:
                $name:  "test window"
                $sizeX:  180
                $sizeY:  90
