<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="app/autoload.php"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="app/" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/*/Resources</directory>
                <directory>src/*/*/Resources</directory>
                <directory>src/*/*/*/Resources</directory>

                <!-- Don't test propel generated content -->
                <directory>src/*/Model</directory>
                <directory>src/*/*/Model</directory>
                <directory>src/*/*/*/Model</directory>

                <directory>src/*/DependencyInjection</directory>
                <directory>src/*/*/DependencyInjection</directory>
                <directory>src/*/*/*/DependencyInjection</directory>

                <directory>src/eXpansion/Framework/Gui/Components</directory> <!-- Doesen't need testint FML wrappers are here && the Factory actually tests for failure -->
                <directory>src/eXpansion/Framework/Gui/Layouts</directory> <!-- Doesen't need testint FML wrappers are here && the Factory actually tests for failure -->

                <directory>src/eXpansion/Bundle/Acme</directory> <!-- Acme plugin doesen't need tests,  it's for developpers to see only -->

                <directory>src/eXpansion/Bundle/Emotes</directory> <!-- Need to finalize bundle to write tests -->
                <directory>src/eXpansion/Bundle/JoinLeaveMessages</directory> <!-- Need to finalize bundle to write tests -->
                <directory>src/eXpansion/Bundle/Menu</directory> <!-- Need to finalize bundle to write tests -->

                <file>src/eXpansion/Framework/Core/eXpansionCore.php</file>
                <file>src/eXpansion/Framework/AdminGroups/eXpansionAdminGroupsBundle.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>