bundles:
  # eXpansion Base Bundles
  - \eXpansion\Bundle\AdminChat\AdminChatBundle
  - \eXpansion\Bundle\Admin\AdminBundle
  - \eXpansion\Bundle\Maps\MapsBundle
  - \eXpansion\Bundle\Players\PlayersBundle
  - \eXpansion\Bundle\VoteManager\VoteManagerBundle
  - \eXpansion\Bundle\CustomChat\CustomChatBundle
  - \eXpansion\Bundle\Menu\MenuBundle

  # Feature bundles
  - \eXpansion\Bundle\Emotes\EmotesBundle
  - \eXpansion\Bundle\JoinLeaveMessages\JoinLeaveMessagesBundle
  - \eXpansion\Bundle\InfoMessages\InfoMessagesBundle

  # Records
  - \eXpansion\Bundle\LocalRecords\LocalRecordsBundle
  - \eXpansionExperimantal\Bundle\Dedimania\DedimaniaBundle

  # Karma Bundles
  - \eXpansion\Bundle\LocalMapRatings\LocalMapRatingsBundle
  - \eXpansion\Bundle\MxKarma\MxKarmaBundle

    # eXpansion Widgets & Ui improvements.
  - \eXpansion\Bundle\CustomUi\CustomUiBundle
  - \eXpansion\Bundle\WidgetCurrentMap\WidgetCurrentMapBundle
  - \eXpansion\Bundle\WidgetBestCheckpoints\WidgetBestCheckpointsBundle
  - \eXpansionExperimantal\Bundle\WidgetBestRecords\WidgetBestRecordsBundle
  - \eXpansionExperimantal\Bundle\WidgetLiveRankings\LiveRankingsBundle

  # Immersive windows changes the way eXpansion windows is displayed. It's a "skin" bundle. Remove the "#" to enable
  #- \eXpansion\Bundle\ImmersiveWindows\ImmersiveWindowsBundle

  # Add other Custom bundles here
