e_xpansion_admin_groups:
    groups:
        master_admin:
            label: Master Admin
            logins:
                - login1
            permissions: [] # Master_admin has always all permissions.
        admin:
            label: Admin
            logins: []
            permissions:
              - next
              - restart
    permissions:
        - admin
        - next
        - restart
        - jukebox
        - maps.add
        - maps.remove