e_xpansion_admin_groups:
    groups:
        master_admin:
            label: Master Admin
            logins:
                - login1
            permissions: [] # Master_admin has always all permissions.
        admin:
            label: Admin
            logins: []
            permissions:
              - next
              - restart

e_xpansion_core:

    #
    # You can configure custom positions for widgets here.
    #
    widget_positions:
      Acme\Bundle\AcmeBundle\Plugins\Gui\WidgetFactory: # Id of the widget service
       TM: # Game/Title it's compatible with (ALL to use it on all gamemodes)
         ALL: # The game mode to apply he config for.
           ALL: # The script mode to apply the config for.
             posX: 80
             posY: -85
             options: # Additional values, check the widgets documentation.
               test: "test value"