parameters:

    expansion.framework.core.data_providers.user_group_data_provider.class: eXpansion\Framework\Core\DataProviders\UserGroupDataProvider
    expansion.framework.core.data_providers.user_group_data_provider.interface: eXpansion\Framework\Core\DataProviders\Listener\ListenerInterfaceExpUserGroup

    expansion.framework.core.data_providers.application_data_provider.class: eXpansion\Framework\Core\DataProviders\ApplicationDataProvider
    expansion.framework.core.data_providers.application_data_provider.interface: eXpansion\Framework\Core\DataProviders\Listener\ListenerInterfaceExpApplication

    expansion.framework.core.data_providers.timer_data_provider.class: eXpansion\Framework\Core\DataProviders\TimerDataProvider
    expansion.framework.core.data_providers.timer_data_provider.interface: eXpansion\Framework\Core\DataProviders\Listener\ListenerInterfaceExpTimer

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true


    expansion.framework.core.data_providers.timer_data_provider:
        class: "%expansion.framework.core.data_providers.timer_data_provider.class%"
        tags:
            - {name: 'expansion.dataprovider', provider: "exp.timer", interface: "%expansion.framework.core.data_providers.timer_data_provider.interface%"}
            - {name: 'expansion.dataprovider.compatibility', title: 'ALL'}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.pre_loop, method: onPreLoop}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.post_loop, method: onPostLoop}

    expansion.framework.core.data_providers.user_group_provider:
        class: "%expansion.framework.core.data_providers.user_group_data_provider.class%"
        tags:
            - {name: 'expansion.dataprovider', provider: "expansion.user_group", interface: "%expansion.framework.core.data_providers.user_group_data_provider.interface%"}
            - {name: 'expansion.dataprovider.compatibility', title: 'ALL'}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.user_groups.user_add, method: onExpansionGroupAddUser}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.user_groups.user_remove, method: onExpansionGroupRemoveUser}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.user_groups.group_destroy, method: onExpansionGroupDestroy}

    expansion.framework.core.data_providers.application_data_provider:
        class: "%expansion.framework.core.data_providers.application_data_provider.class%"
        tags:
            - {name: 'expansion.dataprovider', provider: "exp.application", interface: "%expansion.framework.core.data_providers.application_data_provider.interface%"}
            - {name: 'expansion.dataprovider.compatibility', title: 'ALL'}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.init, method: onApplicationInit}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.ready, method: onApplicationReady}
            - {name: 'expansion.dataprovider.listener', event_name: expansion.stop, method: onApplicationStop}
