parameters:
    expansion.storage.gamedata.mode.codes:
        0 : script
        1 : round
        2 : timeattack
        3 : team
        4 : laps
        5 : cup
        6 : stunts

    expansion.storage.gamedata.titles:
        TMStadium@nadeo:  'TM'
        TMCanyon@nadeo:  'TM'
        esl_comp@lt_forever:  'TM'
        TMValley@nadeo:  'TM'
        TMLagoon@nadeo:  'TM'
        TMOneAlpine@florenzius:  'TM'
        Timmy_s_Basement@spammiej:  'TM'
        Piotrunio_Campaign@piotrunio:  'TM'
        Dirt_@mr.dvd:  'TM'
        Nimble@ansjh:  'TM'
        Solid@juvortus:  'TM'
        TMAll@domino54:  'TM'
        Acrobatic@mr.dvd:  'TM'
        Trial3D@misterdede:  'TM'
        Blato_Pack@blatozor:  'TM'
        NewNations@arkes910:  'TM'
        aroundUSA@flighthigh:  'TM'
        NewNations2.0@arkes910:  'TM'
        Lets_Play_Canyon@mr.dvd:  'TM'
        Lets_Play_Valley@mr.dvd:  'TM'
        Mr.DvDCanyon_dvd@mr.dvd:  'TM'
        Lets_Play_Stadium@mr.dvd:  'TM'
        Flights_Universe@flighthigh:  'TM'
        Ultimate_Challenge_2@mr.dvd:  'TM'
        Ultimate_Challenge_3@mr.dvd:  'TM'
        Ultimate_Challenge_4@mr.dvd:  'TM'
        NewNationsUndiscovered@arkes910:  'TM'
        Valley_RallyCross@tomhellrider1966:  'TM'
        TM__Lagoon_Sparkstedition@sparkster:  'TM'
        TrackMania_Turbo_Reloaded_Canyon@mr.dvd:  'TM'
        TrackMania_Turbo_Reloaded_Valley@mr.dvd:  'TM'
        TM_Valley_Sparkstedition_MP4ed@sparkster:  'TM'
        TrackMania_Turbo_Reloaded_Stadium@mr.dvd:  'TM'
        TM_Stadium_Sparkstedition_MP4ed@sparkster:  'TM'
        TM__Canyon_Sparkstedition__MP4ed_@sparkster:  'TM'
        SMStormElite@nadeolabs:  'SM'
        SMStormSiege@nadeolabs:  'SM'
        obstacle@smokegun:  'SM'
        SMStormBattle@nadeolabs:  'SM'
        SMStormRoyal@nadeolabs:  'SM'
        GEs@guerro:  'SM'
        Infection@dmark:  'SM'
        Firefight@torrent:  'SM'
        SMStormCombo@nadeolabs:  'SM'
        SMStormJoust@nadeolabs:  'SM'
        BattlePro@jousticeleague:  'SM'
        SMStormWarlords@nadeolabs:  'SM'
        Cerovan_PlayGround@nadeo_cerovan:  'SM'
        RPG@tmrpg:  'TM'
        MrSloppi@mrsloppi:  'TM'
        SpeedBall@steeffeen:  'SM'
        Dirt_World_TM2@bernatf:  'TM'
        GalaxyTitles@domino54:  'SM'
        BaF1@mcrobert:  'TM'
        ExtraWorld@spaii:  'TM'
        PursuitStadium@domino54:  'TM'
        SMStorm@nadeo:  'SM'
        TMAllMaker@domino54:  'TM'
        Nordschleife@mcrobert:  'TM'
        Knights@kadaz:  'SM'
        SRE@tm-nascar:  'TM'
        TM2UF@adamkooo:  'TM'
        Pursuit@domino54:  'TM'
        paradise@adamkooo:  'TM'
        DuelElite@xenome77:  'SM'
        TMPlus_Canyon@tipii:  'TM'
        TMPlus_Lagoon@tipii:  'TM'
        Object-Collection@flighthigh:  'TM'


    expansion.framework.core.storage.data.player.class: eXpansion\Framework\Core\Storage\Data\Player

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    eXpansion\Framework\Core\Storage\:
        resource: "../../Storage/*"
        exclude: "../../Storage/Data/"

    eXpansion\Framework\Core\Storage\PlayerStorage:
        tags:
            - {name: expansion.plugin, data_provider: exp.timer}

    eXpansion\Framework\Core\Storage\GameDataStorage:
        arguments:
            $gameModeCodes: "%expansion.storage.gamedata.mode.codes%"

    eXpansion\Framework\Core\Storage\Data\PlayerFactory:
        arguments:
            $class: "%expansion.framework.core.storage.data.player.class%"
