services:
    _defaults:
        autowire: true

    expansion.bundle.dedimania.plugins.chat_commands:
        class: eXpansion\Framework\Core\Model\ChatCommand\ChatCommandPlugin
        arguments:
            -
              - '@eXpansionExperimantal\Bundle\Dedimania\ChatCommands\DediRecs'
        tags:
            - {name: 'expansion.plugin', data_provider: 'expansion.chat_command_data'}

    eXpansionExperimantal\Bundle\Dedimania\ChatCommands\DediRecs:
        class: eXpansionExperimantal\Bundle\Dedimania\ChatCommands\DediRecs
        arguments:
            $command: 'dedirecs'
            $aliases: []

